/*layout*/
.bg-change{
    background-color: rgb(221, 229, 235);
}
.bg-change-fail{
    background-color: rgb(0, 0, 0);
    color: white
}

/*lottery 水平置中、垂直置中*/
body .lottery{
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50% , -50%);
}


/*prize 水平置中、垂直置中*/
body .prize{
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50% , -50%)
}
/*hidden 隱藏，remove 就會出現*/
.hidden{
    display: none;
}


/*button*/
button{
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    font: normal normal bold 30px arial;
    border-radius: 8px;
    border: 0px solid #33a6d1;
    background: #379aa2;
    background: -webkit-gradient(linear, left top, left bottom, from(#379aa2), to(#2e8cb8));
    background: -moz-linear-gradient(top, #379aa2, #2e8cb8);
    background: linear-gradient(to bottom, #379aa2, #2e8cb8);
    color: #ffffff;
    text-decoration: none;
}
button:hover,
button:focus {
    border: 0px solid #2780a1;
    background: #2e8087;
    background: -webkit-gradient(linear, left top, left bottom, from(#2e8087), to(#267599));
    background: -moz-linear-gradient(top, #2e8087, #267599);
    background: linear-gradient(to bottom, #2e8087, #267599);
    color: #ffffff;
    text-decoration: none;
}
button:active {
    background: #1c4d51;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c4d51), to(#267599));
    background: -moz-linear-gradient(top, #1c4d51, #267599);
    background: linear-gradient(to bottom, #1c4d51, #267599);
}

/*text*/
body{
    font-family: 微軟正黑體;
    background-color: rgb(239, 172, 156);
}
.title{
    font-size:30px;
    text-align: center;
}
p{
    font-size:20px;
    margin: 10px;
    text-align: center;
}







/*img
.img-responsive {
    max-width: 100%;
    height: 100%;
    /*padding-bottom: 60%;
    background-color: rgb(206, 221, 231);
    /*overflow: hidden;
}
.img-responsive img {
    width: 100%;
    margin: 0 auto;
}
*/